.stack {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.parser {
  width: 150px;
  height: 50px;
  justify-self: center;
  align-self: center;
}

.parserInput {
  width: 100%;
  height: 200px;
}

button,
select {
  margin: 10px 0;
  width: 200px;
  height: 50px;
  justify-self: center;
  align-self: center;
}

textarea.foundry-output,
.base-output {
  width: 800px;
  height: 600px;
}
